<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="channelengine" instance="ChannelEngine\Magento2\Observer\ProductObserver"/>
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="channelengine" instance="ChannelEngine\Magento2\Observer\StockItemObserver"/>
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="channelengine" instance="ChannelEngine\Magento2\Observer\OrderObserver"/>
    </event>
</config>